/* Vars */

body {
  display: grid;
  position: relative;
  background: var(--body-bg);
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

/* Blockquote */

.quote {
  justify-self: center;
  align-self: center;
  position: absolute;
  max-width: 700px;
  background-color: #f5f5f5;
  font-family: "Merriweather", serif;
  line-height: 1.5;
  z-index: 2;
  text-align: center;
  padding: 1rem 0;
  margin: 0 1rem;
  box-shadow: 0px 0px 12px 4px #d5cdbacf;
}

.quote__text {
  font-size: 18px;
  margin: 0;
}

.quote__overlay {
  position: absolute;
  top: 32px;
  left: 0;
  margin: 0 40px;
  opacity: 0.35;
  font-size: 18px;
  -webkit-text-stroke: 1px #17171777;
  color: #f5f5f5;
}

.quote__text span,
.quote__author {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.quote__author {
  margin-bottom: 1rem;
}

/* Animation nation */

.quote__text span:nth-child(2) {
  animation-delay: 0.25s;
}

.quote__text span:nth-child(3) {
  animation-delay: 0.5s;
}

.quote__text span:nth-child(4) {
  animation-delay: 0.75s;
}

.quote__text span:nth-child(5) {
  animation-delay: 1s;
}

.quote__text span:nth-child(6) {
  animation-delay: 1.25s;
}

.quote__text span:nth-child(7) {
  animation-delay: 1.5s;
}

.quote__text span:nth-child(8) {
  animation-delay: 1.75s;
}

.quote__text span:nth-child(9) {
  animation-delay: 2s;
}

.quote__text span:nth-child(10) {
  animation-delay: 2.25s;
}

.quote__text span:nth-child(11) {
  animation-delay: 2.5s;
}

.quote__text span:nth-child(12) {
  animation-delay: 2.75s;
}

.quote__text span:nth-child(13) {
  animation-delay: 3s;
}

.quote__text span:nth-child(14) {
  animation-delay: 3.5s;
}

.quote__text span:nth-child(15) {
  animation-delay: 3.75s;
}

.quote__text span:nth-child(16) {
  animation-delay: 4s;
}

.quote__text span:nth-child(17) {
  animation-delay: 4.25s;
}

.quote__text span:nth-child(18) {
  animation-delay: 4.5s;
}

.quote__author {
  animation-delay: 5.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Flower Grid */

.wrapper {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.flower {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  width: 100px;
  height: 100px;
  grid-column-end: span 2;
  margin: 0 auto;
}

.flower:nth-child(6),
.flower:nth-child(16),
.flower:nth-child(26) {
  grid-column-start: 2;
}

/* Petals */

.petal {
  position: absolute;
  top: 28%;
  z-index: 1;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.petal--left {
  left: 25%;
  transform: rotate(-20deg);
}

.petal:before,
.petal:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 18px;
  border-radius: 100%;
}

/* Red */

.flower:nth-child(odd) .petal:before,
.flower:nth-child(odd) .petal:after {
  background-color: var(--petal-red);
}

/* Yellow */

.flower:nth-child(4n + 2) .petal:before,
.flower:nth-child(4n + 2) .petal:after {
  background-color: var(--petal-yellow);
}

/* Grey */

.flower:nth-child(4n) .petal:before,
.flower:nth-child(4n) .petal:after {
  background-color: var(--petal-grey);
}

.petal--left:before,
.petal--right:before {
  left: 1px;
  transform: rotate(-15deg);
}

.petal--left:after,
.petal--right:after {
  right: 1px;
  transform: rotate(15deg);
}

.petal--right {
  right: 25%;
  transform: rotate(20deg);
}

/* Leaves */

.leaf {
  position: relative;
  width: 11px;
  height: 50px;
  border: solid 3px #000;
}

/* Inner */

.leaf--right {
  border-color: transparent transparent transparent var(--leaf-green);
  border-radius: 50% 0 0 50%;
  transform: translateX(4px) rotate(10deg);
}

.leaf--left {
  border-color: transparent var(--leaf-green-dark) transparent transparent;
  border-radius: 0 50% 50% 0;
  transform: translateX(-4px) rotate(-10deg);
}

/* Outer */

.leaf:first-child,
.leaf:last-child {
  width: 10px;
  height: 30px;
}

.leaf--left:first-child {
  transform: translateX(5px) rotate(-20deg);
}

.leaf--right:last-child {
  transform: translateX(-5px) rotate(20deg);
}

@media (min-width: 768px) {
  .quote p {
    font-size: 30px;
  }
}
