---
import { NavigationMenuRoot } from "@/components/ui/navigation";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Ramon Xavier">
  <header
    class="mx-auto flex max-w-5xl items-center justify-between gap-20 px-5 py-8 xl:px-0 flex-row-reverse lg:flex-row"
  >
    <Image
      alt="Logo"
      width="232"
      height="50"
      loading="lazy"
      decoding="async"
      src="/images/logo_name.png"
    />
    <NavigationMenuRoot client:idle />
  </header>
  <div
    data-orientation="horizontal"
    role="none"
    class="shrink-0 bg-border h-[1px] w-full"
  >
  </div>
  <main
    class="mx-auto max-w-5xl flex-col items-center justify-center px-5 py-8 xl:px-0 dark:bg-background"
  >
    <div
      class="mx-auto flex max-w-5xl justify-center gap-2 px-5 py-8 xl:px-0 flex-row-reverse lg:flex-col"
    >
      <h1
        class="animate-text bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
      >
        Software Engineer
      </h1>
      <p class="text-sm text-muted-foreground">
        Full Stack Developer, based on React, React Native, Typescript and Node.
        I'm passionate about the entire programming ecosystem.
      </p>
    </div>
    <div class="grid auto-rows-[192px] grid-cols-3 gap-4">
      {
        [...Array(7)].map((_, i) => (
          <div
            class={`row-span-1 rounded-xl border-2 border-slate-400/10 bg-neutral-100 p-4 dark:bg-neutral-900 animate-pulse  ${
              i === 3 || i === 6 ? "col-span-2" : ""
            }`}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style></style>
