---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ramon Xavier">
	<main>
		<div class="container-info">
			<h1>Ramon Xavier</h1>
			<h2>Software Engineer</h2>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}	
	.container-info {

	}
</style>
